doctype html
head
  link#theme(rel='stylesheet' type='text/css' href='/resources/css/main.css')
  script(defer='' src='/resources/js/main.js')
  script(defer='' src='/resources/js/contact.js')
  title Contact Us
  meta(charset='UTF-8')
include navigations.pug
h1 Contact Us
form(action='/contact' method='post')
  label(for='name')  Name: 
  input#name(type='text' name='contactName' required='')
  br
  label(for='email')  Email: 
  input#email(type='email' name='contactEmail' required='')
  br
  label(for='datemax') Set an appointement with us! 
  input#datemax(type='date' name='dateScheduled' max='2024-12-31' min='2023-01-02' required='')
  br
  label(for='apptType') Appointement preference: 
  select#apptType(name='apptType')
    option(value='default' selected='') -- Select Appointement Type --
    option(value='inperson') In-person
    option(value='virtual') Virtual
  br
  label(for='service') Service: 
  select#service(name='serviceType')
    option(value='default' selected='') -- Select Service Type --
    option(value='instore') In-store purchase ($10)
    option(value='oneLesson') One Lesson ($20)
    option(value='twoLessons') Two Lessons ($30)
    option(value='unlimited') Unlimited Plan ($50/month)
  br
  label(for='paymentType')  Paying with cash or cheque (5% off)
  input#paymentType(type='checkbox' name='paymentType' value='cash')
  br
  input(type='submit' value='Submit' name='submitVal')
  #calculation
