doctype html
html(lang="en")
  head
    link#theme(rel="stylesheet" type="text/css" href="/resources/css/main.css")
    script.defer(src="/resources/js/main.js")
    script.defer(src="/resources/js/contact.js")
    title Contact Us
    meta(charset="UTF-8")
  body
    include navigations.pug
    h1 Contact Us
    h2 Form was submitted!
