doctype html
head
  link#theme(rel='stylesheet' type='text/css' href='/resources/css/main.css')
  script(defer='' src='/resources/js/main.js')
  title Ballz of Steel, P&eacute;tanque
  meta(charset='UTF-8')
include navigations.pug
div#salesBanner
  p Sales Banner
h1 Ballz of Steel, P&eacute;tanque
h2 Precision, Passion, P&eacute;tanque!
img(src='/resources/images/petanque.jpg' alt='Pétanque Balls')
div.infoText
  p
    | Ballz of Steel, P&eacute;tanque is a renowned company headquartered in 
    em Paris, France
    | .
    br
    | We sell world class P&eacute;tanque balls to our customers.
    |             Ours balls are made of the 
    strong highest
    |  quality of steel and will ensure you a lifetime of fun.
    br
    | So come on in with your family and pick up our latest set for only $19.99
  ol
    li
      | Single steel petanque ball
    li
      | Single Cochonnet (small wooden ball)
    li
      | Entire set of 6 steel petanque balls and 1 Cochonnet
  p
    | Flash sale added just this month: Refer a friend to our store and get 20% of on your next purchase.
    br
    | Offer available for a limited time only, so hurry up come on in!
