div.navigation
    ul
        li
            a(href='/') Home
        li
            a(href='/contact') Contact Us
        li
            a(href='/testimonies') Testimonies
        li
            a(href='/admin/contactlog') Contact Log
        li
            button#darkMode Dark Mode