div.navigation
    ul
        li
            a(href='/login') Login
        li
            a(href='/signup') Sign Up
        //- Display this only on dashboard
        if display
            li
                a(href='/logout') Logout
            li.profileNav
                img(id='profileIcon', src='resources/images/profileIcon.png', alt='profile icon')
                span(id='Account Name') #{display.username}
