doctype html
html(lang="eng")
  head
    link(rel='stylesheet' type='text/css' href='/resources/css/dark.css')
    title Sign Up
    meta(charset='UTF-8')
  body
    include navigations.pug
    h1 Welcome to 
      |
      i The Chatter
    .signup
      form(action='/signupPost' method='post')
        label(for='firstName')  First Name: 
        input#firstName(type='text' name='firstName' required='')
        br
        label(for='lastName')  Last Name: 
        input#lastName(type='text' name='lastName' required='')
        br
        label(for='username')  Username: 
        input#username(type='text' name='username' required='')
        br
        label(for='userPassword')  Password:  
        input#userPassword(type='password' name='userPassword' required='')
        br
        label(for='email')  Email: 
        input#email(type='email' name='email' required='')
        br
        input#submit(type='submit' value='Create Account')