doctype html
head
  link#theme(rel='stylesheet' type='text/css' href='/resources/css/main.css')
  script(defer='' src='/resources/js/main.js')
  title Reviews
  meta(charset='UTF-8')
include navigations.pug
h1 Reviews
// Credits: https://support.google.com/youtube/answer/171780?hl=en
// Fixed HTML5 compliance error for frameborder attribute: https://stackoverflow.com/questions/65034/remove-border-from-iframe
iframe(width='560' height='315' src='https://www.youtube.com/embed/ZgwOLsyvA4g?si=-jokYAjyvyv9k89g' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='' style='border:0;')
.reviews
  .review
    p.review-body
      | I just bought a P&eacute;tanque set from Ballz of Steel, P&eacute;tanque. Let&apos;s just say
      br
      |  that I&apos;m booking my next trip to France to go visit the headquarters!
    p.reviewer-name Michael Scott
  .review
    p.review-body
      | The staff at Ballz of Steel, P&eacute;tanque are just amazing.
      br
      |  They helped me pick the perfect set for my family and I. The staff 
      br
      |  even when above and beyond and taught me how to properly play the game!
      br
      |  Will definitely be coming back for more!
    p.reviewer-name Samantha McGee
  .review
    p.review-body
      | Aye I loved these people man. Great vibe, good price, cool people.
      br
      |  Will be coming back with the boys fosuh.
    p.reviewer-name Tyson Anderson
  .review
    p.review-body
      | After driving past this place for years, I finally decided to stop by.
      br
      |  The set I purchased was pretty amazing because it looked so cool. I&apos;m definitely going to be coming back
    p.reviewer-name Bob Shaw
  .review
    p.review-body
      | Good place, good people. Will come back again with friends and familly.
      | I highly recommend checking this place out!
    p.reviewer-name Tim Astid
  .review
    p.review-body
      | Located in downtown Minneapolis, Ballz of Steel is a great place to go to if you&apos;re looking for a good time.
      br
      |  The staff are very friendly and will help you pick the perfect set for you and your family.
    p.reviewer-name Amanda Tyler
